<% if @invitation.persisted? %>
  <%= turbo_stream.remove "invitations_empty" %>
  <%= turbo_stream.append "pending_invitations_list", partial: "invitations/invitation", locals: { invitation: @invitation } %>
  <%= turbo_stream.update "invitation_form_errors", "" %>
<% else %>
  <%= turbo_stream.update "invitation_form_errors" do %>
    <div class="alert alert-error py-2 text-sm" role="alert"><span><%= @invitation.errors.full_messages.to_sentence %></span></div>
  <% end %>
<% end %>
