<% if @saved %>
  <%= turbo_stream.update "new_entry", "" %>
  <% if @transaction.billing_month == viewed_month %>
    <%= turbo_stream.prepend "ledger_list", partial: "transactions/ledger_row", locals: { transaction: @transaction } %>
  <% end %>
  <%= render "transactions/hub_figures" %>
  <% if @to_savings %>
    <%= turbo_stream.prepend "toasts" do %>
      <div class="alert alert-success shadow-lg">
        <span><%= t("transfers.saved_celebration", amount: brl(@transaction.amount_cents), total: brl(summary.guardado_cents)) %></span>
      </div>
    <% end %>
  <% end %>
<% else %>
  <%= turbo_stream.replace "new_entry", partial: "transactions/new_entry", locals: { transaction: @transaction, kind: "transfer" } %>
<% end %>
